.outer-container {

}

.inner-container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 20px;
}

.inner-container img {
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.inner-container .trainline-name {
  align-self: center;
  flex: 1 0 auto;
  text-align: left;
}

.inner-container .expand-feedback {
  align-self: center;
}

.heart {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

.feedback-box {
  text-align: left;
}

.topic-radios label {
  display: block;
}

feed {
  width: 100%;
}

feed * {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.reward {
  margin: 20px 55px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 300;
}

.banner {
  text-align: left;
  color: white;
  font-size: 20px;
  background-color: #495458;
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.4);
  margin-bottom: 20px;
}

.fa-bars {
  margin: 20px;
  color: white;
}

textarea {
  border: 1px solid #222;
}