body {
  height: 100%;
}

app-root {
  height:100%;
}

.outer-container {
  border-bottom: 1px solid #eee;
  background-color: white;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 20px;
}

.outer-container:nth-last-child(2){
   box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.2);
}

.expanded .inner-container{
   box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.2);
}

.expanded + .outer-container {
  box-shadow: 0 -2px 5px 0 rgba(1, 1, 1, 0.2);
}

.inner-container img {
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.inner-container .trainline-name {
  align-self: center;
  flex: 1 0 auto;
  text-align: left;
}

.inner-container .expand-feedback {
  align-self: center;
}

.heart {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

.feedback-box {
  text-align: left;
}

.topic-buttons p {
  font-size: 20px;
  margin: 0;
}

feed {
  width: 100%;
  height: 100vh;
  background-color: #F0EFF4;
}

feed * {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.reward {
  margin: 20px 55px;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 300;
}

.banner {
  text-align: left;
  color: white;
  font-size: 20px;
  background-color: #495458;
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(1, 1, 1, 0.4);
  margin-bottom: 20px;
}

.fa-bars {
  margin: 20px;
  color: white;
}

textarea {
  background-color: transparent;
  padding: 4px;
  margin: 0;
  margin-top: 3px;
  width: 100vw;
  border: 0;
}

button {
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 18px;
  background-color: transparent;
  box-shadow: none;
  border-top: 1px solid #eee;
  border-bottom:none;
  border-left: none;
  border-right: none;
}